  <ng-template #modalDelete>
    <app-modal [thisParent]="this" title="{{ 'global.form.dialogExcluir.titulo' | translate }}" dsconteu="{{ 'global.form.dialogExcluir.pd' | translate }}">
      <button type="button" class="btn btn-danger"  (click)="close()">{{ 'global.form.dialogExcluir.cancelar' | translate }}</button>
      <button type="button" class="btn btn-success" (click)="confirmaDeleteCluster()">{{ 'global.form.dialogExcluir.excluir' | translate }}</button>
    </app-modal>
  </ng-template>


  <app-breadcrumbs
    #breadcrumbs
    home="{{ 'global.form.idt005.pd' | translate }}"
    [arBreadcrumbs]="arBreadcrumbsLocal"
    (goHome)="goHome($event)"
    (clearNext)="clearNext($event)"
    [context]="this">
  </app-breadcrumbs>

  <div [hidden]="!(exibir == 1)" style="padding-top: 20px;">

    <app-cards-filter
      titleDrop="{{ 'global.form.filtros.pd' | translate }}"
      nameSubmitFunction="filtrar"
      [isCollapsed]="true"
      [dropdown]="true"
      [context]="this">

      <form class="form-horizontal" [formGroup]="objFormFilter" >
        <div class="row">

          <div class="form-group col-sm-3 col-md-3 col-lg-3">
            <label for="">Descrição Cluster</label>
            <app-input
              [formInput] = "objFormFilter"
              [formControlNameInput] = "'T005_DSCLUSTE'"
            ></app-input>
          </div>   
        
        </div>

        <br />

        <div class="row">
          <div class="col-sm-8"></div>
          <div class="col-sm-4 text-right"></div>
        </div>
      </form>

    </app-cards-filter>

    <app-cards
      titleDrop="{{ 'global.form.registros.pd' | translate }}"
      [isCollapsed]="collappsed"
      [dropdown]="true">
      
      <app-datagrid
          [id]="idDataGrid"
          [url]="urlClusterGrid"
          [tela]="149"
          [telaGlobal]="[
                  {'id' : 3, 'metodo' : 'deleteCluster',  'icone':'fa fa-minus'},
                  {'id' : 4, 'metodo' : 'addCluster', 'icone':'fa fa-plus'},
                  {'id' : 'excel'},
                  {'id' : 'colvis'} ]"
          [telaAcoes]="[
                  {'id' : 1, 'metodo' : 'viewCluster',   'icone': 'fa fa-eye'},
                  {'id' : 2, 'metodo' : 'updateCluster',   'icone': 'fas fa-pencil-alt'},
                  {'id' : 3, 'metodo' : 'openDelete', 'icone': 'fas fa-trash-alt'}]"
          [nivel]="0"
          [thisParent]="this"
          [notOnLoad]="true">

          <th data-id="T005_IDT005"   data-type-column="actions">{{ 'global.form.acoes.pd' | translate }}</th>
          <th data-id="T005_IDT005"   data-align-left="true">{{ 'global.form.idt005.ot' | translate }}</th>
          <th data-id="T005_DSCLUSTE" data-align-left="true">{{ 'global.form.idt005.pd' | translate }}</th>
            
      </app-datagrid>
    </app-cards>
  </div>

  <ngb-accordion #acc="ngbAccordion" activeIds="1" [hidden]="!(exibir == 2)">
    <ngb-panel id="1" title="Parâmetros">
      <ng-template ngbPanelContent>
  
        <form class="form-horizontal" [formGroup]="objFormConfiguracao" (ngSubmit)="save()">
          <input type="text" id="IDG058" formControlName="IDT005" hidden>

          <div class="row">

              <div class="form-group col-sm-3 col-md-3 col-lg-3">
                  <label for="">Descrição Cluster</label>
                  <app-input
                    [formInput] = "objFormConfiguracao"
                    [formControlNameInput] = "'DSCLUSTE'"
                  ></app-input>
                </div> 

          </div>

        </form>
  
        <div class="row">
          <div class="col-sm-8"></div>
          <div class="col-sm-4 col-md-4 col-lg-4 text-right">
  
            <!-- Salvar -->
            <app-botoes *ngIf="checkViewCluster != 1" class="success" text="{{ 'hc.form.botoes.sa' | translate }}" (click)="saveCluster();">
            </app-botoes>
  
            <!-- Cancelar -->
            <app-botoes class="danger" text="{{ 'hc.form.botoes.ca' | translate }}" (click)="goHome(event);">
            </app-botoes>
  
          </div>
        </div>
  
      </ng-template>
    </ngb-panel>
  </ngb-accordion>