@media screen {
  .modal-adaptive .modal-xl {
    width: 90% !important;
    max-width: calc(90%);
  }
}

.bloco-icon{
    padding-left: 0px !important;
}

.editar{
  font-size: 33px;
  // margin-top: 30px;
  cursor: pointer;
  color: #43295b;

}

.optionsView{
  color: #43295b;
  height: 45px;
  padding-top: 12px;
  cursor: pointer;
}

.optionsView:hover{
  border: 1px solid  #43295b;
  //color: #fff;
  height: 45px;
  padding-top: 12px;
}

.optionsView-activate{
  background-color: #43295b;
  color: #fff;
  height: 45px;
  padding-top: 12px;
}

.pointerArrow{
  cursor: pointer;
  font-size: 17px;
  color: #43295b;
}

.carousel-control-prev-icon{
  display: none !important;
}

.carousel-control-next-icon{
  display: none !important;
}


.carousel-indicators{
  outline: none;
  margin-bottom: -10px;
}


#ngb-slide-0{
  border: 1px solid #666;
}

#ngb-slide-1{
  border: 1px solid #666;
}

.carousel-indicators .active{
  background-color: #000000 !important;
  outline: none;
}