@media screen {
  .modal-adaptive .modal-xl {
    width: 90% !important;
    max-width: calc(90%);
  }
}

.bloco-icon{
    padding-left: 0px !important;
}

.editar{
  font-size: 33px;
  // margin-top: 30px;
  cursor: pointer;
  color: #43295b;

}
