@media screen {
    .modal-adaptive .modal-xl {
      width: 95% !important;
      max-width: calc(95%);
    }
  
    .modal-adaptive-2 .modal-xl-2 {
      width: 73.6% !important;
      max-width: calc(73.6%);
    }
  }