.ng-dropdown-panel {
    box-sizing: border-box;
    position: absolute;
    opacity: 0;
    width: 100%;
    z-index: 1050;
}

ul {
    list-style-type: none;
}

.red{
    color: red
}

.green{
    color: green
}
.cmpRequired{
    border-color: red!important;
}

  