<ng-template #modalDelete>
  <app-modal [thisParent]="this" title="{{ 'global.form.dialogExcluir.titulo' | translate }}" dsconteu="{{ 'global.form.dialogExcluir.pd' | translate }}">
    <button type="button" class="btn btn-danger"  (click)="close()">{{ 'global.form.dialogExcluir.cancelar' | translate }}</button>
    <button type="button" class="btn btn-success" (click)="confirmaDeleteCarga()">{{ 'global.form.dialogExcluir.excluir' | translate }}</button>
  </app-modal>
</ng-template>


<app-breadcrumbs
  #breadcrumbs
  home="Cargas"
  [arBreadcrumbs]="arBreadcrumbsLocal"
  (goHome)="goHome($event)"
  (clearNext)="clearNext($event)"
  [context]="this">
</app-breadcrumbs>


<!-- <div class="row"  [hidden]="!(exibir == 1)" style="padding-top: 0px;">
  <indicadores-filter
    #indicador
    class="col-md-12 testFilter"
    [objForm]="objFormFilter"
    [indicadores]="indicadores"
    (filtrar)="filtrarIndi($event)"
    >
  </indicadores-filter>
</div> -->

<!-- (filtrar)="filtrarIndi($event)" -->

  <div class="card-body" style="padding: 15px 0px 0px !important;">
    <ngb-carousel style="outline: none !important;">
      <ng-template ngbSlide>
        <div class ="row">

            <div class="col-md-3 col-lg-3 col-sm-6" style="display: inline-block;">
                <div class="card card-body card-widget">
                  <div class="widget-icon rounded-circle text-white icon fas fa-check" style="color:white !important" style="background-color: #707eff;">
                  </div>
                  <div class="block ml-2 mr-2">
                    <h5 class="mb-0 fw-400">
                        {{(this.dadosCabecalho['TOTAL']?this.dadosCabecalho['TOTAL']:0)}}
                    </h5>
                      <strong>Total</strong>
                  </div>
               </div>
              </div>

              <div class="col-md-3 col-lg-3 col-sm-6" style="display: inline-block;">
                  <div class="card card-body card-widget">
                    <div class="widget-icon rounded-circle text-white icon fas fa-check" style="color:white !important" style="background-color: #cccccc;">
                    </div>
                    <div class="block ml-2 mr-2">
                      <h5 class="mb-0 fw-400">
                          {{(this.dadosCabecalho['AGUARDANDO']?this.dadosCabecalho['AGUARDANDO']:0)}}
                      </h5>
                        <strong>Aguardando início</strong>
                    </div>
                 </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-6" style="display: inline-block;">
                    <div class="card card-body card-widget">
                      <div class="widget-icon rounded-circle text-white icon fas fa-check" style="color:white !important" style="background-color: #d87675;">
                      </div>
                      <div class="block ml-2 mr-2">
                        <h5 class="mb-0 fw-400">
                            {{(this.dadosCabecalho['INICIO']?this.dadosCabecalho['INICIO']:0)}}
                        </h5>
                          <strong>Em Trânsito</strong>
                      </div>
                   </div>
                  </div>

                  <div class="col-md-3 col-lg-3 col-sm-6" style="display: inline-block;">
                      <div class="card card-body card-widget">
                        <div class="widget-icon rounded-circle text-white icon fas fa-check" style="color:white !important" style="background-color: #35c298;">
                        </div>
                        <div class="block ml-2 mr-2">
                          <h5 class="mb-0 fw-400">
                              {{(this.dadosCabecalho['FIM']?this.dadosCabecalho['FIM']:0)}}
                          </h5>
                            <strong>Finalizados</strong>
                        </div>
                     </div>
                    </div>


        </div>        
        <div class="carousel-caption"></div>
      </ng-template>
    </ngb-carousel>
  </div>


<div *ngIf="exibir == 1" >

  <app-cards-filter
    titleDrop="{{ 'global.form.filtros.pd' | translate }}"
    nameSubmitFunction="filtrar"
    nameClearFunction="limpar"
    [isCollapsed]="true"
    [dropdown]="true"
    [context]="this">

    <form class="form-horizontal" [formGroup]="objFormFilter" >
      <div class="row">
        <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <label for="G043_IDG005RE">Carga</label>
          <app-chips-input
          [typeInput]="'numberText'"
          [chips]='arIds'
          [removable]='true'
          [addOnBlur]='true'
          [duplicate]='false'
          [objStyle]="objStyle"
          [inputSpace]='true'
          >
          </app-chips-input>
        </div>
        <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <label for="">Data da Carga</label>
          <app-datepicker-intervalo
            [formDateIntervalo]="objFormFilter"
            [formControlNameDateIntervalo]="'DTCARGA'">
          </app-datepicker-intervalo>
        </div>
        <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <label for="">Data Saída da Carga</label>
          <app-datepicker-intervalo
            [formDateIntervalo]="objFormFilter"
            [formControlNameDateIntervalo]="'DTSAICAR'">
          </app-datepicker-intervalo>
        </div>
<!--         <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <label for="">Previsão de Saída</label>
          <app-datepicker-intervalo
            [formDateIntervalo]="objFormFilter"
            [formControlNameDateIntervalo]="'DTPSMANU'">
          </app-datepicker-intervalo>
        </div> -->
        <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <app-single-transportadora
            [objForm] = "objFormFilter"
            [formName] = "'IDG024'">
          </app-single-transportadora>
        </div>

<!--         <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <app-single-tipo-veiculo
              [objForm]  = "objFormFilter"
              [formName] = "'IDG030'">
          </app-single-tipo-veiculo>
        </div> -->
<!--         <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <app-single-ftl-ltl
            [objForm]  = "objFormFilter"
            [formName] = "'SNCARPAR'"
            >
          </app-single-ftl-ltl>
        </div> -->
        <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <app-combobox-multi
              label="Motoristas"
              [url]="apiUrl+'filtro/motoristas-full'"
              [formMultiSelect] = "objFormFilter"
              [formControlNameMultiSelect] = "'IDG031M1'">
          </app-combobox-multi>
        </div>
        <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <app-combobox-multi
              label="Veículo"
              [url]="apiUrl+'filtro/buscarDescVeiculos'"
              [formMultiSelect] = "objFormFilter"
              [formControlNameMultiSelect] = "'IDG032V1'">
          </app-combobox-multi>
        </div>
        <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <app-single-armazem
              displayName = "Armazém de Coleta"
              [objForm]  = "objFormFilter"
              [formName] = "'IDG028'">
          </app-single-armazem>
        </div>

        <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <app-multi-status
            strLabel ="Status da carga"
            [objForm]  = "objFormFilter"
            [formName] = "'STCARGA'">
          </app-multi-status>
        </div>

<!--         <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <app-single-usuario
            [objForm]  = "objFormFilter"
            [formName] = "'IDS001'"
          >
          </app-single-usuario>
        </div> -->
        <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <label >CTE</label>
          <app-chips-input
          [typeInput]="'numberText'"
          [chips]='arIdCtrc'
          [removable]='true'
          [addOnBlur]='true'
          [duplicate]='false'
          [objStyle]="objStyle"
          [inputSpace]='true'
          >
          </app-chips-input>
        </div>

        <div class="form-group col-sm-2 col-md-2 col-lg-2">
          <app-single-sim-nao-todos
              strLabel="Vira?"
              [objForm]  = "objFormFilter"
              [formName] = "'G046_SNVIRA'">
          </app-single-sim-nao-todos>
        </div>

        <div class="col-md-4">
          <label for="S001GF_NMUSUARI">Gestor da Frota:</label>
          <app-combobox [url]="apiUrl+'filtro/gestorFrotaUsuarios'"
            [formControlNameSelect]="'S001GF_NMUSUARI'"
            [formSelect]="objFormFilter"
            [selectedPeople] = "objFormFilter.controls['S001GF_NMUSUARI'].value">
          </app-combobox>
        </div>

<!--         <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <label >Carga LOGOS</label>
          <app-chips-input
          [typeInput]="'numberText'"
          [chips]='arIdCarLog'
          [removable]='true'
          [addOnBlur]='true'
          [duplicate]='false'
          [objStyle]="objStyle"
          [inputSpace]='true'
          >
          </app-chips-input>
        </div>
 -->
<!--         <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <app-single-sim-nao-todos
              strLabel ="Integração com LOGOS"
              [objForm]  = "objFormFilter"
              [formName] = "'SNDESLOG'">
          </app-single-sim-nao-todos>
        </div> -->

        <!-- <div class="form-group col-sm-3 col-md-3 col-lg-3">

          <app-single-cliente
            [objForm] = "objFormConfiguracao"
            [formName] = "'IDG005RE'"
            [displayName]="'Cliente remetente'">
          </app-single-cliente>

        </div> -->

        <!-- <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <app-single-cliente
            [objForm] = "objFormConfiguracao"
            [formName] = "'IDG005DE'"
            [displayName]="'Cliente destinatário'">
          </app-single-cliente>
        </div> -->

<!--         <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <app-single-situacao-cadastro
            name="STCADAST"
            class="default"
            model="{{objFormFilter.controls['STCADAST'].value}}"
            [formOF]="objFormFilter"
            [formControlNameOF]="'STCADAST'"
          ></app-single-situacao-cadastro>
        </div> -->
      </div>
      <br />
      <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-4 text-right"></div>
      </div>
    </form>

  </app-cards-filter>

  <app-cards
    titleDrop="{{ 'global.form.registros.pd' | translate }}"
    [isCollapsed]="collappsed"
    [dropdown]="true">
    <app-datagrid
        [id]="'mobile'"
        [url]="urlMobileGrid"
        [tela]="172"
        [telaGlobal]="[
                {'id' : 'excel'},
                {'id' : 'colvis'} ]"
        [telaAcoes]="[]"
        [nivel]="0"
        [thisParent]="this"
        [allList]="true"
        [notOnLoad]="true"> 

<!--       <th data-id="IDG046" data-type-column="checkbox">
        <label class="custom-control custom-checkbox">
        <input id="carga-select-all" name="select_all" type="checkbox" class="custom-control-input" value="1" />
        <span class="custom-control-indicator"></span>
        </label>
      </th> -->
      <!-- data-visible="false" -->
<!--       <th data-id="IDG046" data-type-column="actions" data-object="true">{{ 'global.form.acoes.pd' | translate }}</th> -->
      <th data-id="IDG046" data-exec="viewCarga" data-exec-id="IDG046" data-align-right="true">Carga</th>
      <th data-id="STCARGA" data-function="statusCargaTpDG">St.</th>
      <th data-id="STCARGA" data-function="statusCargaTpTextDG"  data-align-left="true">Situação</th>
      <th data-id="QTDOCOR" data-function="snOcorrencia">Ocor.</th>
      <th data-id="QTREAXENT" data-align-right="true">Ent./Not.</th>
<!--       <th data-id="QTNOTAS" data-align-right="true" data-visible="false">Qt Not.</th>
      <th data-id="QTNOTENT" data-align-right="true" data-visible="false">Qt Ent.</th> -->
      <th data-id="QTNOTCAN" data-exec="viewCanhoto" data-function="verCanhoto" data-align-center="true">Can.</th>
      <th data-id="DSCARGA" data-align-left="true">Descrição carga</th>
      <th data-id="NMTRANSP" data-function="registroNullDG" data-align-left="true">Transportadora</th>

<!--       <th data-id="CDVIAOTI">Número da Viagem otimizador </th> -->

<!--       <th data-id="IDCARLOG" data-function="numberNullDG" data-align-right="true">Carga LOGOS</th> -->
<!--       <th data-id="SNESCOLT"  data-function="funcSN" data-align-left="true">Escolta</th> -->
      <th data-id="DTCARGA"   data-function="dataTimeDG" data-align-left="true">Data da carga</th>
      <th data-id="DTPSMANU"  data-function="dataTimeDG" data-align-left="true">Data previsão de saída</th>
      <th data-id="DTSAICAR"  data-function="dataTimeDG" data-align-left="true">Data saída da carga</th>
      <th data-id="PSCARGA" data-function="formataPeso" data-align-right="true">Peso da carga</th>
      <th data-id="VRCARGA" data-function="formataDinheiro" data-align-right="true">Valor da carga</th>

<!--       <th data-id="IDS001">Cód. Usuário do Cadastro</th> -->
<!--       <th data-id="NMUSUARI" data-align-left="true">Usuário do Cadastro</th> -->

<!--       <th data-id="SNDELETE">Registro excluído?</th> --><!-- 
      <th data-id="QTVOLCAR" data-function="formataVolume" data-align-right="true">Volume m³</th> -->
<!--       <th data-id="TPCARGA">Tipo de carga</th> -->
<!--       <th data-id="QTDISPER" data-function="formataDistancia" data-align-right="true">Distância da carga</th>
      <th data-id="VRPOROCU" data-function="formataPorcentagem2" data-align-right="true">% Ocupação</th> -->

<!--       <th data-id="IDG030" data-function="numberNullDG" data-align-left="true">Cód. Tipo de veículo</th>
      <th data-id="DSTIPVEI" data-function="registroNullDG" data-align-left="true">Descrição Tipo de veículo</th> -->

<!--       <th data-id="DTAGENDA"  data-function="dataDG" data-align-left="true">Data agendamento</th> -->
<!--       <th data-id="STCARGA" data-function="stCadastDG">Status da Carga</th> -->
<!--       <th data-id="STINTCLI">Status integração com o cliente</th> -->
<!--       <th data-id="SNCARPAR" data-function="funcSN" data-align-left="true">Carga Parcial</th> -->
<!--       <th data-id="OBCANCEL" data-function="registroNullDG">Observação do Cancelamento</th> -->

<!--       <th data-id="IDS001CA" data-function="registroNullDG">Usuário do Cancelamento</th>
      <th data-id="NMUSUARICA" data-function="registroNullDG">Usuário do Cancelamento</th>

      <th data-id="DTCANCEL"  data-function="dataDG">Data do Cancelamento</th>
      <th data-id="SNURGENT" data-function="funcSN">Urgente</th> -->

<!--       <th data-id="IDG028"    data-function="registroNullDG" data-align-left="true">Cód. Armazém</th> -->
      <th data-id="NMARMAZE"  data-function="registroNullDG" data-align-left="true">Armazém</th>
<!--       <th data-id="DTCOLORI"  data-function="dataDG">Data da Coleta original</th>
      <th data-id="DTCOLATU"  data-function="dataDG">Data da Coleta atualizada</th>
      <th data-id="DTCOLATU"  data-function="dataDG">Data da Coleta atualizada</th>
      <th data-id="DTENTPLA"  data-function="dataDG">Entrega planejada</th> -->
<!--       <th data-id="TPORIGEM">Tipo origem</th> -->
<!--       <th data-id="STENVLOG">Status envio logos</th> -->

<!--       <th data-id="IDG031M1" data-function="registroNullDG">Motorista 1</th> -->
      <th data-id="NMMOTORI1" data-function="registroNullDG" data-align-left="true">Motorista</th>
      <th data-id="NRVERSAO"  data-function="registroNullDG" data-align-right="true">Versão</th>

<!--       <th data-id="IDG031M2" data-function="registroNullDG">Motorista 2</th> -->
<!--       <th data-id="NMMOTORI2" data-function="registroNullDG">Nome Motorista 2</th> -->

<!--       <th data-id="IDG031M3" data-function="registroNullDG">Motorista 3</th> -->
<!--       <th data-id="NMMOTORI3" data-function="registroNullDG">Nome Motorista 3</th> -->

<!--       <th data-id="IDG032V1" data-function="registroNullDG">Veículo 1</th> -->
      <th data-id="DSVEICULV1" data-function="registroNullDG" data-align-left="true">Veículo</th>

      <th data-id="DTINIVIA"  data-function="dataTimeDG" data-align-left="true">Início Viagem</th>
      <th data-id="DTFIMVIA"  data-function="dataTimeDG" data-align-left="true">Fim Viagem</th>
      <th data-id="DTENTSYN"  data-function="dataTimeDG" data-align-left="true">Ult. Sync</th>
      <th data-id="IDS001GF"  data-function="registroNullDG" data-align-left="true">Gestor da frota</th>


<!--       <th data-id="IDG032V2" data-function="registroNullDG">Veículo 2</th> -->
<!--       <th data-id="DSVEICULV3" data-function="registroNullDG">Veículo 2</th> -->

<!--       <th data-id="IDG032V3" data-function="registroNullDG">Veículo 3</th> -->
<!--       <th data-id="DSVEICULV3" data-function="registroNullDG">Veículo 3</th> -->
    </app-datagrid>
  </app-cards>
</div>


<ngb-accordion #aacd="ngbAccordion" activeIds="1" [hidden]="!(exibir == 3)">
  <ngb-panel id="1" title="Parâmetros">
    <ng-template ngbPanelContent>

      <form class="form-horizontal" [formGroup]="objFormMotoritas">
        <!-- <input type="text" id="IDG046" formControlName="IDG046" hidden> -->
        <div class="row">
          <div class="form-group col-sm-8 col-md-8 col-lg-8">
            <app-single-transportadora
              [objForm] = "objFormMotoritas"
              [formName] = "'IDG024'">
            </app-single-transportadora>
          </div>
          <div class="form-group col-sm-2 col-md-2 col-lg-2">
            <label>Data Previsão de Saída</label>
            <app-datapicker-popup
              navegacao='select'
              [mesesDisplay]='1'
              [desabilitar]='false'
              [formDatePop]="objFormMotoritas"
              [formControlNameDatePop]="'DTPRESAI'"
              [disabled]="true">
            </app-datapicker-popup>
          </div>
          <div class="form-group col-sm-2 col-md-2 col-lg-2">
            <label style="color: #fff;">_</label>
            <app-timepicker
                [disabled]="true"
                [formTime]  = "objFormMotoritas"
                [formControlNameTime] = "'DTPRESAIH'">
            </app-timepicker>
          </div>
        </div>

          <div class="row">
            <div class="form-group col-sm-6 col-md-6 col-lg-6">
              <div class="row">
                <div class="col-md-11">
                  <app-single-veiculo-carga
                      [objForm]  = "objFormMotoritas"
                      [formName] = "'IDG032V1'"
                      [depName]="'IDG024'">
                  </app-single-veiculo-carga>
                </div>
                <div class="col-md-1 bloco-icon">
                  <i (click)="openModalVeiculo()" class="fas fa-pen-square editar" style="margin-top: 30px;"></i>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6 col-md-6 col-lg-6">
              <div class="row">
                <div class="col-md-11">
                  <app-single-motorista-carga
                      [objForm]  = "objFormMotoritas"
                      [formName] = "'IDG031M1'"
                      [depName]="'IDG024'">
                  </app-single-motorista-carga>
                </div>
                <div class="col-md-1 bloco-icon">
                  <i (click)="openModalMototrista()" class="fas fa-pen-square editar" style="margin-top: 30px;"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-md-6 col-lg-6">
              <div class="row">
                <div class="col-md-11">

                  <app-single-veiculo-carga
                      [viewLabel] = "false"
                      [objForm]  = "objFormMotoritas"
                      [formName] = "'IDG032V2'"
                      [depName]="'IDG024'">
                  </app-single-veiculo-carga>
                </div>
                <div class="col-md-1 bloco-icon">
                  <i (click)="openModalVeiculo()" class="fas fa-pen-square editar"></i>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6 col-md-6 col-lg-6">
              <div class="row">
                <div class="col-md-11">
                  <app-single-motorista-carga
                      [viewLabel] = "false"
                      [objForm]  = "objFormMotoritas"
                      [formName] = "'IDG031M2'"
                      [depName]="'IDG024'">
                  </app-single-motorista-carga>
                </div>
                <div class="col-md-1 bloco-icon">
                  <i (click)="openModalMototrista()" class="fas fa-pen-square editar"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-md-6 col-lg-6">
              <div class="row">
                <div class="col-md-11">
                  <app-single-veiculo-carga
                      [viewLabel] = "false"
                      [objForm]  = "objFormMotoritas"
                      [formName] = "'IDG032V3'"
                      [depName]="'IDG024'">
                  </app-single-veiculo-carga>
                </div>
                <div class="col-md-1 bloco-icon">
                  <i (click)="openModalVeiculo()" class="fas fa-pen-square editar"></i>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6 col-md-6 col-lg-6">
              <div class="row">
                <div class="col-md-11">
                  <app-single-motorista-carga
                      [viewLabel] = "false"
                      [objForm]  = "objFormMotoritas"
                      [formName] = "'IDG031M3'"
                      [depName]="'IDG024'">
                  </app-single-motorista-carga>
                </div>
                <div class="col-md-1 bloco-icon">
                  <i (click)="openModalMototrista()" class="fas fa-pen-square editar"></i>
                </div>
              </div>
            </div>
          </div>
      </form>

        <div class="row">
          <div class="col-sm-8"></div>
          <div class="col-sm-4 col-md-4 col-lg-4 text-right">

            <!-- Salvar -->
            <app-botoes
            *ngIf="checkViewCarga != 1"
            class="success"
            text="{{ 'hc.form.botoes.sa' | translate }}"
            (click)="saveMotorista();">
            </app-botoes>

            <!-- Cancelar -->
            <app-botoes
            class="danger"
            text="{{ 'hc.form.botoes.ca' | translate }}"
            (click)="goHome(event);">
            </app-botoes>

          </div>
        </div>

    </ng-template>
  </ngb-panel>
</ngb-accordion>

<div style="margin-top: 15px;"></div>
<ngb-accordion #acf="ngbAccordion" activeIds="1, 0" *ngIf="exibir == 4">
  <ngb-panel id="0" title="Documentos">
    <ng-template ngbPanelContent>
      <app-datagrid
        [id]="'gridCargas2'"
        [url]="apiUrl + 'tp/carga/listarDocumentos'"
        [tela]="133"
        [telaGlobal]="[]"
        [telaAcoes]="[]"
        [nivel]="0"
        [thisParent]="this"
        [notPagination]="true"
        [additionalFields]="{'arIds': arIdsCarga, 'tipo':2}">

        <th data-id="IDG051" data-type-column="checkbox">
            <label class="custom-control custom-checkbox">
            <input id="gridCargas2-select-all" name="select_all" type="checkbox" class="custom-control-input" value="1" />
            <span class="custom-control-indicator"></span>
            </label>
        </th>
         <th data-id="IDG051" data-align-right="true">ID</th>
         <th data-id="CDCTRC" data-align-right="true">CTRC</th>

<!--          <th data-id="IDG005RE">Remetente</th>
         <th data-id="IDG005DE">Destinatário</th>
         <th data-id="IDG005RC">Recebedor</th>
         <th data-id="IDG005EX">Expedidor</th>
         <th data-id="IDG005CO">Consignatário</th> -->


        <th data-id="NRCHADOC" data-function="registroNullDG" data-align-left="true">Chave</th>
        <th data-id="DSMODENF" data-function="registroNullDG" data-align-left="true">Modelo</th>
        <th data-id="NRSERINF" data-function="registroNullDG" data-align-left="true">Série</th>
        <th data-id="VRMERCAD" data-function="formataDinheiro"data-align-right="true">Valor</th>
        <th data-id="NRPESO" data-function="formataPeso"data-align-right="true">Peso</th>
        <th data-id="DTEMICTR" data-function="dataDG" data-align-left="true">Data Emissão</th>

        <th data-id="STCTRC" data-align-left="true" data-function="stCadastDG">Status</th>
        <th data-id="DSINFCPL" data-align-left="true">Informação Complementar da CTE</th>

        <th data-id="NMCLIENTRE" data-align-left="true">Remetente</th>
        <th data-id="NMCLIENTDE" data-align-left="true">Destinatário</th>
        <th data-id="NMCLIENTRC" data-align-left="true">Recebedor</th>
        <th data-id="NMCLIENTEX" data-align-left="true">Expedidor</th>
        <th data-id="NMCLIENTCO" data-align-left="true">Tomador</th>
        <th data-id="NMTRANSP" data-align-left="true">Transportadora</th>


<!--          <th data-id="VRTOTFRE">Valor Total do Frete</th>
         <th data-id="VRFRETEP">Valor do Frete Peso</th>
         <th data-id="VRFRETEV">Valor do Frete Volume</th>
         <th data-id="VRPEDAGI">Valor do Pedágio</th>
         <th data-id="VROUTROS">Valor Outros</th> -->

         
<!--          <th data-id="VRSECCAT">Valor SEC CAT</th> -->

<!--          <th data-id="VRTOTPRE">Valor total da prestação</th>
         <th data-id="VROPERAC">Valor da Operação</th>
         <th data-id="SNDELETE">Delete</th> -->
<!--          <th data-id="VRBASECA"></th>
         <th data-id="PCALIICM"></th>
         <th data-id="VRICMS"></th>
         <th data-id="BSISSQN"></th>
         <th data-id="VRISSQN"></th>
         <th data-id="VRISSQST"></th>
         <th data-id="PCALIISS"></th>
         <th data-id="VRDESCON"></th>
         <th data-id="DTLANCTO"></th> -->
<!--          <th data-id="DSINFCPL">Informação Complementar da CTE</th>
         <th data-id="DTCALANT">Entrega calculada antes da carga</th>
         <th data-id="DTCOLETA">Coleta</th>
         <th data-id="DTENTPLA">Entrega planejada</th>
         <th data-id="DTCALDEP">Entrega calculada depois da carga</th>
         <th data-id="DTAGENDA">Agendada</th>
         <th data-id="DTCOMBIN">Combinada</th>
         <th data-id="DTROTERI">Roterização</th>
         <th data-id="TPTRANSP">Tipo transporte</th>
         <th data-id="CDCARGA ">Código da carga do Logos.</th> -->
<!--          <th data-id="IDG059 ">CFOP</th>
         <th data-id="STLOGOS ">Situação logos</th>
         <th data-id="SNLOTACA">Lotação S - Sim / N - Não</th>
         <th data-id="CDSATISF">Código de Satisfacao</th> -->
         <th data-id="NMTRANSPAT" data-align-left="true">Transportadora atual</th>
<!--          <th data-id="SNPRIORI">Com prioridade</th> -->
         <th data-id="IDG046" data-align-right="true">Carga</th>
      </app-datagrid>
      <!-- <app-datagrid
        [id]="'gridCargas1'"
        [url]="apiUrl + 'tp/carga/listarDocumentos'"
        [tela]="133"
        [telaGlobal]="[]"
        [telaAcoes]="[]"
        [nivel]="0"
        [thisParent]="this"
        [notPagination]="true"
        [additionalFields]="{'arIds': arIdsCarga, 'tipo':1}">

        <th data-id="IDG043" data-type-column="checkbox">
            <label class="custom-control custom-checkbox">
            <input id="gridCargas1-select-all" name="select_all" type="checkbox" class="custom-control-input" value="1" />
            <span class="custom-control-indicator"></span>
            </label>
        </th>

        <th data-id="IDG043">ID</th>
        <th data-id="CDDELIVE">Código da Delivery</th>
        <th data-id="SNLIBROT">Liberado para roteirização</th>
        <th data-id="DTLANCTO">Data de lançamento</th>
        <th data-id="IDS001">Usuario lançamento</th>
        <th data-id="DTDELIVE">Data da Delivery</th>
        <th data-id="TPDELIVE">Tipo</th>
        <th data-id="STDELIVE">Status da Delivery</th>
        <th data-id="NRNOTA">Número da Nota</th>
        <th data-id="NRSERINF">Número de Série da NF</th>
        <th data-id="DTEMINOT">Data Emissão da Nota</th>
        <th data-id="NRCHADOC">Chave de acesso</th>
        <th data-id="DSMODENF">Modelo da NF</th>
        <th data-id="SNDELETE">Registro excluído?</th>
        <th data-id="IDG005RE">Remetente</th>
        <th data-id="IDG005DE">Destinatário</th>
        <th data-id="DTFINCOL">Data Final da Coleta</th>
        <th data-id="CDPRIORI">Prioridade</th>
        <th data-id="TPTRANSP">Tipo de transporte</th>
        <th data-id="CDFILIAL">Filial</th>
        <th data-id="PSBRUTO">Peso bruto</th>
        <th data-id="PSLIQUID">Peso líquido</th>
        <th data-id="NRDIVISA">Número de divisão</th>
        <th data-id="STETAPA">Status da etapa</th>
        <th data-id="VRDELIVE">Valor delivery</th>
        <th data-id="NREMBSEC">Número de Embalagem Secundária</th>
        <th data-id="SNINDSEG">Indicador de segregação</th>
        <th data-id="VRALTURA">Altura</th>
        <th data-id="VRLARGUR">Largura</th>
        <th data-id="VRCOMPRI">Comprimento</th>
        <th data-id="CJDESTIN">CNPJ Destinatário</th>
        <th data-id="IEDESTIN">Inscrição estadual destinatário</th>
        <th data-id="IMDESTIN">Inscrição municipal destinatário</th>
        <th data-id="IDG014">Operação</th>
        <th data-id="CDCLIEXT">Customer PO Number</th>
        <th data-id="VRVOLUME">Volume da Delivery</th>
        <th data-id="IDG009PS">Unidade de Peso</th>
        <th data-id="DTENTREG">Data de entrega</th>
        <th data-id="STULTETA">Status da última etapa</th>
        <th data-id="DTENTCON">Data de entrega contratual</th>
        <th data-id="TXINSTRU"></th>
        <th data-id="TXCANHOT"></th>
        <th data-id="IDG005TO">Tomador</th>
        <th data-id="IDG024TR">Transportadora</th>
        <th data-id="DSINFCPL">Informação complementar da NF</th>
        <th data-id="SNOTIMAN">Enviado otimizador manual</th>
        <th data-id="SNAG">Nota do WebAgil (1 - Nota de AG)</th>
        <th data-id="DTBLOQUE">Bloqueio</th>
        <th data-id="DTDESBLO">Desbloqueio</th>
        <th data-id="STLOGOS">Situação logos</th>
        <th data-id="CDRASTRE">Código de rastreamento para o cliente</th>
      </app-datagrid> -->
    </ng-template>
  </ngb-panel>
  <ngb-panel id="1" title="Desmontar Carga(s)">
    <ng-template ngbPanelContent>
      <form class="form-horizontal" [formGroup]="objFormDesmCarga"  >
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
<!--             <app-single-transportadora
              [objForm] = "objFormDesmCarga"
              [formName] = "'EMPREDES'"
              placeholder="Transportadora Destino"
              displayName="Transportadora Destino">
            </app-single-transportadora> -->

           <app-single-transportadora-bravo
               [objForm]  = "objFormDesmCarga"
               [formName] = "'EMPREDES'"
               placeholder="Transportadora Destino"
               displayName="Transportadora Destino">
           </app-single-transportadora-bravo>

          </div>
          <!-- <div class="col-sm-6 col-md-6 col-lg-6">
            <app-single-transportadora
              [objForm] = "objFormDesmCarga"
              [formName] = "'EMPRECON'"
              placeholder="Transportadora Consolidação"
              displayName="Transportadora Consolidação">
            </app-single-transportadora>
          </div> -->

        </div>
      </form>

        <div class="row">
          <div class="col-sm-7"></div>
          <div class="col-sm-5 col-md-5 col-lg-5 text-right">

            <!-- CANCELAR -->
            <app-botoes
            class="danger"
            icon="far fa-times-circle"
            text="{{ 'hc.form.botoes.ca' | translate }}"
            (click)="breadcrumbs.goBack()">
            </app-botoes>

            <!-- SALVAR -->
            <app-botoes
            class="success"
            icon="fas fa-check"
            text="Liberar"
            (click)="saveDesmontarCarga();">
            </app-botoes>

          </div>
        </div>

    </ng-template>
  </ngb-panel>
</ngb-accordion>


<!-- MODAL VISUALIZAÇÃO -->
<!-- <ng-template ngbModalContainer></ng-template>
<ng-template #modalCarga let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Informações</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
     <info-new-carga-completa
      [IDG046]="idCargaView"
      [showCarga]="true"
      [showParadas]="true"
      [showCTE]="true"
      [showNFE]="true"
      [showNFE_AUX]="true"
      [showAtendimentos]="true"
    >
    </info-new-carga-completa>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="c('Close click')">Fechar</button>
  </div>
</ng-template> -->

<!-- MODAL VISUALIZAÇÃO -->
<ng-template ngbModalContainer></ng-template>
<ng-template #modalCarga let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Informações</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
     <info-new-carga-completa
      [IDG046]="idCargaView"
      [showCarga]="true"
      [showParadas]="true"
      [showCTE]="true"
      [showNFE]="true"
      [showNFE_AUX]="true"
      [showAtendimentos]="true"
    >
    </info-new-carga-completa>
  </div>
  
  <div class="modal-footer">

          <div class="col-md-12 text-right">
            <app-botoes
            *ngIf="!mostrarMapa"
            class="info"
            icon="fas fa-map-marker-alt"
            text="Simular Rota"
            (click)="openSimularRota();"
            outline>
            </app-botoes>
          </div>

    <button type="button" class="btn btn-danger" (click)="c('Close click')">Fechar</button>
  </div>
</ng-template>


<ng-template ngbModalContainer></ng-template>
<ng-template #modalCanhoto let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Informações</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
   <div class="row" >
    <div class="col-xs-10" [hidden]="dadosCanhoto != null">
      &nbsp;
      <strong>Carregando...</strong>
    </div>
    <div class="col-md-4 text-center" *ngFor="let info of dadosCanhoto; let i = index;" [hidden]="dadosCanhoto == null">
      <p>NF: {{info.NRNOTA}}</p>
      <p>Data entrega mobile: {{ utilServices.dataTimeDG(info.DTENTMOB)}}</p>
      <img src="{{'data:image/png;base64,' + info.CTDOCUME64}}" class="vertical-img" />
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="c('Close click')">Fechar</button>
  </div>
</ng-template>



<!-- MODAL VEICULO -->
<ng-template ngbModalContainer></ng-template>
<ng-template #modalVeiculo let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Veículo</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-veiculo [nrTela]="168"></app-veiculo> <!--CRUD VEICULO -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="c('Close click')">Fechar</button>
  </div>
</ng-template>

<!-- MODAL MOTORISTA -->
<ng-template ngbModalContainer></ng-template>
<ng-template #modalMotorista let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Motorista</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
     <app-motorista [nrTela]="168"></app-motorista> <!--CRUD MOTORISTA -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="c('Close click')">Fechar</button>
  </div>
</ng-template>


<!-- MODAL MOTORISTA -->
<ng-template ngbModalContainer></ng-template>
<ng-template #modalMapa let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Mapa da Carga</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <div id="print-section">

      <div class="row" style="padding-left: 15px; padding-right: 15px; border-bottom: 1px solid black;">
        <table  style="border-collapse: collapse; width: 100%;">
          <tbody>
            <tr >
              <th style="text-align: left; padding-left: 10px;width: 100px;">
                <qrcode qrdata="{{objCarga.carga.IDG046}}" [size]="'60'" [level]="'M'" class="qrcode"></qrcode>
              </th>
              <th style="text-align: left; padding-left: 0px;">
                <img src="assets/images/bravo-logo-01.png" alt="" width="60px" style="margin-top: 10px; margin-bottom: 10px;">
              </th>

              <th style="text-align: center; padding-top: 10px;">
                <h5 >Mapa de Carga</h5>
                <h6 >{{objCarga.carga.IDG046}} - {{objCarga.carga.DSCARGA}}</h6>
              </th>

              <th style="text-align: right !important;">
                <div style="float: left;">

                </div>
                  <h6>CARGA LOGOS: {{objCarga.carga.IDCARLOG}}</h6>
                  <small>Impressão: {{dtHrAtual}}</small>
              </th>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row" style="margin-top: 5px; border-bottom: 1px solid black; font-size: 11px !important;">
        <div class="col-sm-4" style="padding-top: 3px; padding-bottom: 3px padding-left: 15px width: 25%;  padding-left: 20px; padding-right: 20px">
          <p>
            <!-- <strong>Carga LOGOS: </strong> {{objCarga.carga.IDCARLOG}} <br> -->
            <!-- <strong>Descrição: </strong> {{objCarga.carga.DSCARGA}} <br> -->
            <strong>Data criação: </strong> {{utilServices.dataTimeDG(objCarga.carga.DTCARGA)}} <br>
            <strong>Tipo de Veículo: </strong> {{(objCarga.carga.IDG030)?objCarga.carga.IDG030 + ' - ' +objCarga.carga.DSTIPVEI : "-"}} <br>
            <strong>Motorista: </strong> {{objCarga.carga.NMMOTORI1}} <br>
            <strong>Tel.: </strong> (xx) x xxxx-xxxx <br>
            
          </p>
        </div>
        <div class="col-sm-4" style="padding-top: 3px; padding-bottom: 3px padding-left: 15px width: 25%;  padding-left: 20px; padding-right: 20px">
          <p>
            <strong>Volume: </strong> {{utilServices.formataVolume(objCarga.QTVOLCAR)}}<br>
            <strong>Veículo: </strong> {{(objCarga.carga.NRPLAVEIV1)?objCarga.carga.NRPLAVEIV1 : "-"}} <br>
            <strong>Nr. Frota: </strong> {{(objCarga.carga.NRFROTAV1)?objCarga.carga.NRFROTAV1 : "-"}} <br>
            <strong>Transp.: </strong> {{objCarga.carga.NMTRANSP}} <br>
          </p>
        </div>
        <div class="col-sm-4" style="padding-top: 3px; padding-bottom: 3px padding-left: 15px width: 25%;  padding-left: 20px; padding-right: 20px">
          <p>
            
            
            <strong>Distância: </strong> {{utilServices.formataDistancia(objCarga.carga.QTDISPER)}} <br>
            <strong>Peso: </strong> {{utilServices.formataPeso(objCarga.carga.PSCARGA)}} ({{objCarga.carga.VRPOROCU}}%)<br>
            <strong>Valor: </strong> {{utilServices.formataDinheiro(objCarga.carga.VRCARGA)}}<br>
            <strong>Prev. Saída: </strong> {{utilServices.dataTimeDG(objCarga.carga.DTPSMANU)}}<br>


          </p> 
        </div>
      </div>


      <div class="row">
        <table class="" style="font-size: 11px !important; width: 100% !important">
          <thead>
            <tr>
              <th class="text-center">Nr. Nota</th>
              <th>Remetente</th>
              <th>Destinatário</th>
              <th>Cidade</th>
              <th>Endereço</th>
              <th>Dt. Prev. Ent.</th>
              <th class="text-right">Peso</th>
              <th class="text-right">Volume</th>
              <th class="text-right">Valor Merc.</th>
              <th class="text-center">Cd. Ctrc</th>
              <th class="text-center">Empresa</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of objCarga.notas">
              <td class="text-center">{{item.NRNOTA}}</td>
              <td>{{item.NMCLIEREMIN}}</td>
              <td>{{item.NMCLIEDEMIN}}</td>

              <td> {{item.NMCIDADEDE}}</td>
              <td>{{item.DSENDERE}}</td>
              <td>{{utilServices.dataDG(
                    ( item.DTCOMBIN ? item.DTCOMBIN : 
                    ( item.DTAGENDA ? item.DTAGENDA : 
                    ( item.DTCALDEP ? item.DTCALDEP : 
                    ( item.DTENTCON ? item.DTENTCON : '')))
                    )
                  )}}</td>



              <td class="text-right">{{utilServices.formataPeso(item.PSBRUTO)}}</td>
              <td class="text-right">{{utilServices.formataVolume(item.VRVOLUME)}}</td>
              <td class="text-right">{{utilServices.formataDinheiro(item.VRDELIVE)}}</td>
              <td class="text-center">{{item.CDCTRC}}</td>
              <td class="text-center">{{item.IDLOGOS}}</td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="row" style="width: 100%; padding-left: 15px; padding-right: 15px; margin-top: 30px">
          <div class="col-sm-12 text-center">
            <h6>Observação Escolta</h6>
          </div>
          <table class="" style="font-size: 10px !important; width: 50% !important">
            <thead>
              <tr>
                <th class="text-center">Id.</th>
                <th>Embarcador</th>
                <th>Peso</th>
                <th>Valor</th>
                <th>Porcentagem</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of objCarga.apolice">
                <td class="text-center">{{item.IDG005RE}}</td>
                <td>{{item.RSCLIENT}}</td>
                <td>{{utilServices.formataPeso(item.NRPESO)}}</td>
                <td>{{utilServices.formataDinheiro(item.VRMERCAD)}}</td>
                <td>{{item.PCVALOR}} %</td>
              </tr>
            </tbody>
          </table>

      </div>


    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="c('Close click')">Fechar</button>
    <!-- Salvar -->
    <app-botoes
    class="info"
    icon="fas fa-print"
    text="Imprimir"
    (click)="mapaCarga();">
    </app-botoes>
  </div>
</ng-template>
