.bg-1 {
  background-image: url('../../../assets/images/truck-5.jpg') !important;
}

.avatar-of {
  width: 20.125rem;
}

.avatar-xs {
  width: 12rem;
}

.conteudo-login{
  vertical-align:middle;
    display:table-cell;
    margin-top: 40%;
}


.form-control-feedback{
  color: #db2727;
}
