<ng-template #modalDelete>
  <app-modal [thisParent]="this" title="{{ 'global.form.dialogExcluir.titulo' | translate }}" dsconteu="{{ 'global.form.dialogExcluir.pd' | translate }}">
    <button type="button" class="btn btn-danger"  (click)="close()">{{ 'global.form.dialogExcluir.cancelar' | translate }}</button>
    <button type="button" class="btn btn-success" (click)="confirmaDeleteUsuarioApontamento()">{{ 'global.form.dialogExcluir.excluir' | translate }}</button>
  </app-modal>
</ng-template>

<br>
<app-breadcrumbs
  #breadcrumbs
  home="Usuário Apontamento"
  [arBreadcrumbs]="arBreadcrumbsLocal"
  (goHome)="goHome($event)"
  (clearNext)="clearNext($event)"
  [context]="this">
</app-breadcrumbs>

<div [hidden]="!(exibir == 1)" style="padding-top: 20px;">

  <app-cards-filter
    titleDrop="{{ 'global.form.filtros.pd' | translate }}"
    nameSubmitFunction="filtrar"
    [isCollapsed]="true"
    [dropdown]="true"
    [context]="this">

    <form class="form-horizontal" [formGroup]="objFormFilter" >
      <div class="row">
        <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <app-single-tipo-apontamento
            [objForm] = "objFormFilter"
            [formName] = "'IDG092'">
          </app-single-tipo-apontamento>
        </div>
        <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <app-single-usuario
            [objForm] = "objFormFilter"
            [formName] = "'IDS001'">
          </app-single-usuario>
        </div>
        <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <app-single-transportadora-bravo
            [objForm] = "objFormFilter"
            [formName] = "'IDG024'">
          </app-single-transportadora-bravo>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-4 text-right"></div>
      </div>
    </form>

  </app-cards-filter>

  <app-cards
    titleDrop="{{ 'global.form.registros.pd' | translate }}"
    [isCollapsed]="collappsed"
    [dropdown]="true">
    <app-datagrid
        [id]="'usuarioApontamento'"
        [url]="urlUsuarioApontamentoGrid"
        [tela]="149"
        [telaGlobal]="[
                {'id' : 3, 'metodo' : 'deleteUsuarioApontamento',  'icone':'fa fa-minus'},
                {'id' : 4, 'metodo' : 'addUsuarioApontamento', 'icone':'fa fa-plus'},
                {'id' : 'excel'},
                {'id' : 'colvis'} ]"
        [telaAcoes]="[
                {'id' : 1, 'metodo' : 'viewUsuarioApontamento',   'icone': 'fa fa-eye'},
                {'id' : 2, 'metodo' : 'updateUsuarioApontamento',   'icone': 'fas fa-pencil-alt'},
                {'id' : 3, 'metodo' : 'openDelete', 'icone': 'fas fa-trash-alt'}]"
        [nivel]="0"
        [thisParent]="this">

        
        <th data-id="IDG101"   data-type-column="actions">{{ 'global.form.acoes.pd' | translate }}</th>
        <th data-id="IDG101"   data-align-right="true">Cód. evolog</th>

        <th data-id="IDG092"   data-align-right="true">Cód. apontamento</th>
        <th data-id="DSAPONTA" data-align-left="true" >Descrição apontamento</th>

        <th data-id="IDS001"   data-align-right="true">Cód. usuário</th>
        <th data-id="NMUSUARI" data-align-left="true" >Nome usuário</th>
        
        <th data-id="NMTRANSP" data-align-left="true" data-function="registroNullDG">Transportadora</th>

        <th data-id="STRETIFI" data-align-left="true" data-function="visaoSituacao">Retificação?</th> 

        <th data-id="DTCADAST" data-function="dataDG" data-align-left="true">{{ 'global.form.dtcadast.pd' | translate }}</th>   

    </app-datagrid>
  </app-cards>
</div>

    <ngb-accordion #acc="ngbAccordion" activeIds="1" [hidden]="!(exibir == 2)">
      <ngb-panel id="1" title="Parâmetros">
        <ng-template ngbPanelContent>

          <form class="form-horizontal" [formGroup]="objFormConfiguracao" (ngSubmit)="save()" >
            <input type="text" id="IDG101" formControlName="IDG101" hidden>
            <div class="row">
              <div class="form-group col-sm-3 col-md-3 col-lg-3">

                <app-single-usuario 
                  [objForm] = "objFormConfiguracao"
                  [formName] = "'IDS001'">
                </app-single-usuario>

              </div>

              <div class="form-group col-sm-3 col-md-3 col-lg-3">
                <app-single-tipo-apontamento
                  [objForm] = "objFormConfiguracao"
                  [formName] = "'IDG092'">
                </app-single-tipo-apontamento>
              </div>


              <div class="form-group col-sm-3 col-md-3 col-lg-3">
                <app-single-transportadora-bravo
                  [objForm] = "objFormConfiguracao"
                  [formName] = "'IDG024'">
                </app-single-transportadora-bravo>
              </div>


              <div class="form-group col-sm-3 col-md-3 col-lg-3">
                <label>Permitir Retificação</label>
                <app-single-situacao-cadastro
                  name="STCADAST"
                  class="ligth"
                  model="{{objFormConfiguracao.controls['STRETIFI'].value}}"
                  [formOF]="objFormConfiguracao"
                  [formControlNameOF]="'STRETIFI'"
                ></app-single-situacao-cadastro>
              </div>


            </div>
          </form>

            <div class="row">
              <div class="col-sm-8"></div>
              <div class="col-sm-4 col-md-4 col-lg-4 text-right">

                <!-- Salvar -->
                <app-botoes 
                *ngIf="checkViewUsuarioApontamento != 1"
                class="success" 
                text="{{ 'hc.form.botoes.sa' | translate }}"
                (click)="saveUsuarioApontamento();">
                </app-botoes>
                
                <!-- Cancelar -->
                <app-botoes 
                class="danger" 
                text="{{ 'hc.form.botoes.ca' | translate }}"
                (click)="goHome(event);">
                </app-botoes>

              </div>
            </div>

        </ng-template>
      </ngb-panel>
    </ngb-accordion>